In [1]:
#coding:utf-8
# import _scproxy
import pymssql
import pandas as pd
import datetime
import smtplib


from tqdm import tqdm
from time import sleep

start  = datetime.datetime.now()


# import subprocess

# # æ‰“å¼€æ–‡ä»¶æˆ–è€…é€Ÿåº¦æœ€å¿«, æ¨èï¼Œä¸è¿‡åªé€‚ç”¨äºWindows
# def start_file(file_path):
#     os.startfile(file_path)
    

import os
def mkdir(path):
        folder = os.path.exists(path)
        if not folder:    
                os.makedirs(path)            #makedirs åˆ›å»ºæ–‡ä»¶æ—¶å¦‚æœè·¯å¾„ä¸å­˜åœ¨ä¼šåˆ›å»ºè¿™ä¸ªè·¯å¾„
                print('æ£€æµ‹æ—  [æ¨¡ç‰ˆ] æ–‡ä»¶å¤¹,ç¨‹åºå°†è‡ªåŠ¨åˆ›å»º,è¯·å°†æ¨¡ç‰ˆ( å®¢æˆ·å­—æ®µåŠå†…å®¹_ä¸€å¯¹å¤š.xlsx )æ”¾ç½®åˆ°æ­¤å¤„')#åˆ¤æ–­æ˜¯å¦å­˜åœ¨æ–‡ä»¶å¤¹å¦‚æœä¸å­˜åœ¨åˆ™åˆ›å»ºä¸ºæ–‡ä»¶å¤¹
                input('æ”¾ç½®åç¡®è®¤å°†è¿è¡Œ')
        else:
                # print('æ­£åœ¨å­˜æ”¾è‡³ [æ¨¡ç‰ˆ] ğŸ“')
                pass
mkdir('æ¨¡ç‰ˆ')




df = pd.read_excel('æ¨¡ç‰ˆ/å®¢æˆ·å­—æ®µåŠå†…å®¹_ä¸€å¯¹å¤š.xlsx')
# ,sheet_name='')
df=df[['å®¢æˆ·å','å“ç±»','æ•°æ®åº“å','å­—æ®µ1','å­—æ®µ2','åˆ¤æ–­']]
df1=df.reset_index()
# ç­›é€‰å®¢æˆ·å“ç±»
# df1=df1['å®¢æˆ·å']=='æ’å¤©ç„¶'
# HN_1=HB[(HB['å“ç±»']=='åŠŸèƒ½é¥®æ–™') & HB['å“ç±»ç»†åˆ†'].isin(a)]
# å®¢æˆ·åï¼šè’™ç‰›ã€æ’å¤©ç„¶ã€å–œå®ã€ä¼Šåˆ©ã€ç»´ä»–å¥¶ã€ç™¾äº‹å¯ä¹ã€çº¢ç‰›ã€æ¡‚æ ¼ã€å¯å£å¯ä¹ã€å€è€åŠ›ã€é©¬ç‰Œã€å›ºç‰¹å¼‚ã€ä»»å¤©å ‚ã€å¥½è®°ã€å®¶ä¹æ°ã€å¡å£«ã€Costaã€é›…å£«åˆ©ã€å…»ä¹å¤š
print("å®¢æˆ·åï¼šè’™ç‰›ã€æ’å¤©ç„¶ã€å–œå®ã€ä¼Šåˆ©ã€ç»´ä»–å¥¶ã€ç™¾äº‹å¯ä¹ã€çº¢ç‰›ã€æ¡‚æ ¼ã€å¯å£å¯ä¹ã€å€è€åŠ›ã€é©¬ç‰Œã€å›ºç‰¹å¼‚ã€ä»»å¤©å ‚ã€å¥½è®°ã€å®¶ä¹æ°ã€å¡å£«ã€Costaã€é›…å£«åˆ©ã€å…»ä¹å¤š")
kehu=input('è¯·é”®å…¥è¦è¿è¡Œçš„åº“æˆ·åç§°:')
if kehu != 'all':
    df=df1[df1['å®¢æˆ·å']== kehu]
else:
    df=df1

å®¢æˆ·åï¼šè’™ç‰›ã€æ’å¤©ç„¶ã€å–œå®ã€ä¼Šåˆ©ã€ç»´ä»–å¥¶ã€ç™¾äº‹å¯ä¹ã€çº¢ç‰›ã€æ¡‚æ ¼ã€å¯å£å¯ä¹ã€å€è€åŠ›ã€é©¬ç‰Œã€å›ºç‰¹å¼‚ã€ä»»å¤©å ‚ã€å¥½è®°ã€å®¶ä¹æ°ã€å¡å£«ã€Costaã€é›…å£«åˆ©ã€å…»ä¹å¤š

In [10]:

print('æ­£åœ¨è¿è¡Œ.............')
# print(len(df))
# print(df.iloc[0:3])
dd_list=[]
for i in tqdm(range(len(df))):
    sleep(0.05)
    a=df.iloc[i].tolist()
    # print(a)
    syntun_conn = pymssql.connect(server='192.168.0.15', user='zhongxin_yanfa', password='Xin_yanfa', charset='utf8')
    if a[5]!= a[4] :
        sql="select cast(" + a[4]+" as nvarchar ( 1000 ) ) as "+a[4]+",cast(" + a[5]+" as nvarchar ( 1000 )) as "+a[5]+",count(distinct "+a[6]+ ") as k from "+ a[3] +" group by "+a[4]+","+a[5]+" having count(distinct "+a[6]+ ")>1"
        # print(sql)
        syntun_cursor = syntun_conn.cursor()
        try:
            syntun_cursor.execute(sql)
        except:
            tqdm.write(a[3] +a[4] +'åˆ—:è¯»å–å¤±è´¥â€¦â€¦â€¦â€¦â€¦â€¦')
            continue
        sqljieguo = syntun_cursor.fetchall()
        # print("sqljieguo=", sqljieguo)
        if sqljieguo != []:
            # print(f'åœ¨{a[3]}è¡¨ä¸­{a[4]},{a[5]}åˆ—å‘ç°{a[6]}ä¸€å¯¹å¤š!',sqljieguo)
            for i in sqljieguo:
                p=f'{a[3]}|{a[4]}|{a[6]}|'+str(i)# print("p=", p)
                
            dd_list.append(p)
    else:
        sql="select cast(" + a[4]+" as nvarchar ( 1000 )) as "+a[4]+",count(distinct "+a[6]+ ") as k from "+ a[3] +" group by "+a[4]+" having count(distinct "+a[6]+ ")>1"
        # print(sql)
        syntun_cursor = syntun_conn.cursor()
        try:
            syntun_cursor.execute(sql)
        except:
            tqdm.write(a[3] + a[4]+ ':è¯»å–å¤±è´¥â€¦â€¦â€¦â€¦â€¦â€¦')
            continue
        sqljieguo = syntun_cursor.fetchall()
        # with pd.ExcelWriter(r'QCwrongdata.xlsx') as writer:
        # print("sqljieguo=", sqljieguo)
        if sqljieguo != []:
            # print(f'åœ¨{a[3]}è¡¨ä¸­{a[4]}åˆ—å‘ç°{a[6]}ä¸€å¯¹å¤š!',sqljieguo)
            for i in sqljieguo:
            
                p=f'{a[3]}|{a[4]}|{a[6]}|'+str(i)# print("p=", p)
            
            # print("p=",p)
            dd_list.append(p)
            # print("list=",list)
syntun_cursor.close()
syntun_conn.close()
list1=pd.DataFrame(dd_list,columns = ['lg'])
# print("list1=",list1)

  0%|          | 0/57 [00:00<?, ?it/s]

æ­£åœ¨è¿è¡Œ.............

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 57/57 [00:56<00:00,  1.02it/s]

In [14]:
list1['lg'].str.split('|',expand=True)

,0,1,2,3
0,send_out.dbo.MN_DATA_YTN_NEW,å¹³å°åç§°,åº—é“ºç±»å‹,"('å¤©çŒ«', 'sirwhistonæ——èˆ°åº—', 2)"
1,send_out.dbo.MN_DATA_YTN_NEW,äº§å“åç§°,å“ç±»,"('çº¢åŸ a2é…ªè›‹ç™½ æœ‰æœºçº¯è€—ç‰›å¥¶ 250ml*8', 2)"
2,send_out.dbo.MN_DATA_YTN_NEW,äº§å“åç§°,åŒ…è£…ç±»å‹,"('ä¼Šåˆ© é‡‘å…¸ çº¯ç‰›å¥¶ 250ml*12', 2)"
3,send_out.dbo.MN_DATA_YTN_NEW,äº§å“åç§°,æ˜¯å¦æœ‰æœº,"('å“ç‰§ å“å°ç‰§ æœ‰æœºå„¿ç«¥ç¾Šå¥¶ 200ml*16', 2)"
4,send_out.dbo.MN_DATA_YTN_NEW,äº§å“åç§°,åŒ…è£…å½¢å¼,"('æ´»ç›Šæ¯æ—¥ ä¹³é…¸èŒé¥®å“ 110ml*10', 2)"
5,send_out.dbo.MN_DATA_DIWENrsj_NEW,PLATFORM_NAME,CATEGORY_ST,"('å¤©çŒ«', 'é¥®ä¹å¤šæ——èˆ°åº—', 2)"
6,send_out.dbo.MN_DATA_DIWENSUAN_NEW,PLATFORM_NAME,CATEGORY_ST,"('å¤©çŒ«', 'å…»åŠ›é£Ÿå“æ——èˆ°åº—', 2)"
7,send_out.dbo.MN_DATA_DIWENxian_NEW,PLATFORM_NAME,CATEGORY_ST,"('äº¬ä¸œ', 'èŠ±èŠ±ç‰›ä½æ¸©å¥¶æ——èˆ°åº—', 2)"

In [15]:

import os
def mkdir(path):
        folder = os.path.exists(path)
        if not folder:    
                os.makedirs(path)            #makedirs åˆ›å»ºæ–‡ä»¶æ—¶å¦‚æœè·¯å¾„ä¸å­˜åœ¨ä¼šåˆ›å»ºè¿™ä¸ªè·¯å¾„
                print('æ£€æµ‹æ— ç»“æœæ–‡ä»¶å¤¹,ç¨‹åºå°†è‡ªåŠ¨åˆ›å»º ğŸ“')#åˆ¤æ–­æ˜¯å¦å­˜åœ¨æ–‡ä»¶å¤¹å¦‚æœä¸å­˜åœ¨åˆ™åˆ›å»ºä¸ºæ–‡ä»¶å¤¹
        else:
                print('æ­£åœ¨å­˜æ”¾è‡³ [ç»“æœ] ğŸ“')
                pass
mkdir('ç»“æœ')

list1['lg'].str.split('|',expand=True).to_excel(f"ç»“æœ/{kehu}yiduiduo.xlsx")

end  = datetime.datetime.now()
print("ç¨‹åºè¿è¡Œæ—¶é—´ï¼š"+str((end-start).seconds)+"ç§’")

input('æ–‡ä»¶å·²è¾“å‡º,è¯·åˆ° [ç»“æœ] æ–‡ä»¶ä¸‹è·å–')

æ­£åœ¨å­˜æ”¾è‡³ [ç»“æœ] ğŸ“
ç¨‹åºè¿è¡Œæ—¶é—´ï¼š1056ç§’

''